{% extends "base.html" %}
{% block head %}
    <title>Information for {{ title }}</title>
{% endblock %}


{% block content %}

      <h2>{{ title }}</h2>

      <!-- For expository purposes, all document fields are listed below with their actual names; -->
      <!-- a real customer-facing app would expose this information differently. -->

      <p><br/>

      <table>
        <tbody>
      {% for field in prod_doc.fields %}
          <tr>
          {% if field.name == "slides_link" %}
            <td><b>video</b></td>
            <td>
              <button class="mdl-button mdl-js-button"
                onclick="trackOutboundLink('accelerate2017', '{{ title|e }}', '{{ field.value }}'); return false;">
                Open video full-size
              </button>
            </td>
          {% endif %}
          {% if field.name == "subtitle" and field.value %}
            <td><b>subtitle</b></td>
            <td>{{ field.value }}</td>
          {% endif %}
          {% if field.name == "description" %}
            <td><b>description</b></td>
            <td><pre>{{ field.value }}</pre></td>
          {% endif %}
          {% if field.name == "speakers" and field.value %}
            <td><b>speakers</b></td>
            <td>
              <ul>
              {% for s in field.value.split(';') %}
                {% if s %}
                <li>{{ s|safe }}</li>
                {% endif %}
              {% endfor %}
              </ul>
            </td>
          {% endif %}
          {% if field.name == "published_date" %}
            <td><b>delivery date</b></td>
            <td>{{ field.value }}</td>
          {% endif %}
          {% if field.name == "image" %}
            <td><b>image</b></td>
            <td>
              <a href="{{ field.value }}" target="_blank">
              <img src="{{ field.value }}" alt="solution"
                   style="width:560px;height:315px;">
              </img>
              </a>
              <br>
            </td>
          {% endif %}
          {% if field.name == "event" %}
            <td><b>event</b></td>
            <td valign="middle">
            {% if field.value == 'accelerate2017' %}
              <img src="/static/acceleratelogo.png" alt="{{ field.value }}"
                   style="width:180px;height:30px;">
            {% else %}
              {{ field.value }}&nbsp;-&nbsp;
            {% endif %}
            </td>
          {% endif %}
          </tr>
      {% endfor %}
        </tbody>
      </table>

      <hr>

{% endblock %}
