{% extends "base.html" %}
{% block head %}
  <title>Playlist Creation</title>
{% endblock %}

{% block content %}

{% if pid and vid_count %}
  <h3>We created a private playlist for you with {{ vid_count }} videos!</h3>
  <br>
  The playlist is named
  <a href="https://www.youtube.com/playlist?list={{ pid }}" target="_blank">
  {{ playlist_name }}.
  </a>
  <br>
  <br>
  You can go to the
  <a href="https://www.youtube.com/playlist?list={{ pid }}" target="_blank">
    playlist page
  </a>
  right now and easily rename it!
  Then, it'll be easier to find later!

{% else %}
  <h3>No playlist created. try again.</h3>
{% endif %}

  <hr>
  <a href="/">
    Return to the Main Video Search Home.
  </a>
  <br>

{% endblock %}
