{% extends "base.html" %}
{% block head %}
    <title>Internal Links</title>
{% endblock %}


{% block content %}

<h3>Internal Links</h3>
<ul>
  <li>
    <a href="http://goto/next20"
         target="_blank">
       Internal sites (goto/next20)
    </a>
  </li>
  <li>
    <a href="http://goto/next19"
         target="_blank">
       Internal sites (goto/next19)
    </a>
  </li>
  <li>
    <a href="http://goto/next18"
         target="_blank">
       Internal sites (goto/next18)
    </a>
  </li>
  <li>
    <a href="http://goto/next18cloudhub"
         target="_blank">
       CloudHub (goto/next18cloudhub)
    </a>
  </li>
  <li>
    <a href="http://goto/next-art"
         target="_blank">
       Announcements & Roadmaps for Transformation (goto/next-art)
    </a>
  </li>
</ul>

{% endblock %}
